body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:425px;
}
#u39714 {
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:425px;
}
#u39715 {
  position:absolute;
  left:2px;
  top:204px;
  width:1907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39716 {
  position:absolute;
  left:910px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
}
#u39716_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39716_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39717 {
  position:absolute;
  left:960px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
}
#u39717_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39717_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
