body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48993 {
  position:absolute;
  left:0px;
  top:25px;
  width:1005px;
  height:95px;
}
#u48994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48994 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48995 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48996 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u48997 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48998 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u48999 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49000 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u49001 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49002 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u49003 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49004 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u49005 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49006 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u49007 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49008 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u49009 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49010 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u49011 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49012 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
}
#u49013 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49014 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u49015 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49016 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u49017 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49018 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u49019 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49020 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u49021 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49022 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u49023 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49024 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u49025 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49026 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u49027 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49028 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:30px;
}
#u49029 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49030 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:30px;
}
#u49031 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49032 {
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:30px;
}
#u49033 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49034 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u49035 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49036 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u49037 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49038 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u49039 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49040 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u49041 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49042 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u49043 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49044 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
}
#u49045 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49046 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:30px;
}
#u49047 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49048 {
  position:absolute;
  left:700px;
  top:60px;
  width:100px;
  height:30px;
}
#u49049 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49050 {
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:30px;
}
#u49051 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49052 {
  position:absolute;
  left:900px;
  top:60px;
  width:100px;
  height:30px;
}
#u49053 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
