body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:532px;
}
#u35725 {
  position:absolute;
  left:15px;
  top:30px;
  width:575px;
  height:532px;
}
#u35726 {
  position:absolute;
  left:2px;
  top:258px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35729_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:828px;
  height:1198px;
}
#u35729 {
  position:absolute;
  left:2658px;
  top:267px;
  width:818px;
  height:1188px;
}
#u35730 {
  position:absolute;
  left:2px;
  top:586px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:1045px;
}
#u35731 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:1045px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u35732 {
  position:absolute;
  left:2px;
  top:514px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u35734 {
  position:absolute;
  left:2721px;
  top:297px;
  width:100px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u35735 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u35736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u35736 {
  position:absolute;
  left:2681px;
  top:292px;
  width:28px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35737 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u35738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u35738 {
  position:absolute;
  left:2681px;
  top:332px;
  width:60px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u35739 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u35740 {
  position:absolute;
  left:2722px;
  top:329px;
  width:50px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E3133;
}
#u35741 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u35742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u35742 {
  position:absolute;
  left:3320px;
  top:297px;
  width:107px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u35743 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u35744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u35744 {
  position:absolute;
  left:2681px;
  top:362px;
  width:108px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u35745 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u35746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35747 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:89px;
}
#u35748 {
  position:absolute;
  left:2px;
  top:36px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u35751 {
  position:absolute;
  left:3007px;
  top:445px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u35752 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u35753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u35753 {
  position:absolute;
  left:3047px;
  top:449px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u35754 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35756 {
  position:absolute;
  left:2726px;
  top:980px;
  width:680px;
  height:226px;
}
#u35757 {
  position:absolute;
  left:2px;
  top:105px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u35759 {
  position:absolute;
  left:2738px;
  top:1011px;
  width:656px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u35760 {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  word-wrap:break-word;
}
#u35761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u35762 {
  position:absolute;
  left:3038px;
  top:1091px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u35763 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u35764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35764 {
  position:absolute;
  left:2726px;
  top:509px;
  width:680px;
  height:229px;
}
#u35765 {
  position:absolute;
  left:2px;
  top:106px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u35766 {
  position:absolute;
  left:2824px;
  top:599px;
  width:529px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u35767 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u35768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35768 {
  position:absolute;
  left:2759px;
  top:541px;
  width:40px;
  height:40px;
}
#u35769 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u35771 {
  position:absolute;
  left:2824px;
  top:541px;
  width:251px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u35772 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u35773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u35773 {
  position:absolute;
  left:2824px;
  top:565px;
  width:120px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u35774 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u35775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u35775 {
  position:absolute;
  left:2824px;
  top:674px;
  width:81px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u35776 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u35777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35778 {
  position:absolute;
  left:2726px;
  top:770px;
  width:680px;
  height:210px;
}
#u35779 {
  position:absolute;
  left:2px;
  top:97px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u35780 {
  position:absolute;
  left:2824px;
  top:860px;
  width:530px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u35781 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u35782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35782 {
  position:absolute;
  left:2759px;
  top:802px;
  width:40px;
  height:40px;
}
#u35783 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u35785 {
  position:absolute;
  left:2824px;
  top:802px;
  width:249px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u35786 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u35787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u35787 {
  position:absolute;
  left:2824px;
  top:826px;
  width:120px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u35788 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u35789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u35789 {
  position:absolute;
  left:2824px;
  top:916px;
  width:81px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u35790 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u35791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u35793 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u35794 {
  position:absolute;
  left:16px;
  top:48px;
  width:248px;
  word-wrap:break-word;
}
#u35795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35796_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:29px;
  height:21px;
}
#u35796 {
  position:absolute;
  left:773px;
  top:265px;
  width:13px;
  height:5px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u35797 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u35798 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:29px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u35799 {
  position:absolute;
  left:16px;
  top:4px;
  width:248px;
  word-wrap:break-word;
}
#u35800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u35800 {
  position:absolute;
  left:740px;
  top:139px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u35801 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u35802 {
  position:absolute;
  left:797px;
  top:142px;
  width:107px;
  height:16px;
}
#u35803 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
