body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:532px;
}
#u16660 {
  position:absolute;
  left:15px;
  top:30px;
  width:575px;
  height:532px;
}
#u16661 {
  position:absolute;
  left:2px;
  top:258px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16664_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:828px;
  height:1198px;
}
#u16664 {
  position:absolute;
  left:2658px;
  top:267px;
  width:818px;
  height:1188px;
}
#u16665 {
  position:absolute;
  left:2px;
  top:586px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:1045px;
}
#u16666 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:1045px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u16667 {
  position:absolute;
  left:2px;
  top:514px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u16669 {
  position:absolute;
  left:2721px;
  top:297px;
  width:100px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u16670 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u16671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u16671 {
  position:absolute;
  left:2681px;
  top:292px;
  width:28px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16672 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u16673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u16673 {
  position:absolute;
  left:2681px;
  top:332px;
  width:60px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u16674 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u16675 {
  position:absolute;
  left:2722px;
  top:329px;
  width:50px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E3133;
}
#u16676 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u16677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u16677 {
  position:absolute;
  left:3320px;
  top:297px;
  width:107px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u16678 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u16679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u16679 {
  position:absolute;
  left:2681px;
  top:362px;
  width:108px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u16680 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u16681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16682 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:89px;
}
#u16683 {
  position:absolute;
  left:2px;
  top:36px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16686 {
  position:absolute;
  left:3007px;
  top:445px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u16687 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u16688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u16688 {
  position:absolute;
  left:3047px;
  top:449px;
  width:57px;
  height:24px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u16689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16691 {
  position:absolute;
  left:2726px;
  top:980px;
  width:680px;
  height:226px;
}
#u16692 {
  position:absolute;
  left:2px;
  top:105px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u16694 {
  position:absolute;
  left:2738px;
  top:1011px;
  width:656px;
  height:48px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u16695 {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  word-wrap:break-word;
}
#u16696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16697 {
  position:absolute;
  left:3038px;
  top:1091px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u16698 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u16699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16699 {
  position:absolute;
  left:2726px;
  top:509px;
  width:680px;
  height:229px;
}
#u16700 {
  position:absolute;
  left:2px;
  top:106px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u16701 {
  position:absolute;
  left:2824px;
  top:599px;
  width:529px;
  height:48px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u16702 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u16703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16703 {
  position:absolute;
  left:2759px;
  top:541px;
  width:40px;
  height:40px;
}
#u16704 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u16706 {
  position:absolute;
  left:2824px;
  top:541px;
  width:251px;
  height:24px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u16707 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u16708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u16708 {
  position:absolute;
  left:2824px;
  top:565px;
  width:120px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u16709 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u16710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u16710 {
  position:absolute;
  left:2824px;
  top:674px;
  width:81px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u16711 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u16712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16713 {
  position:absolute;
  left:2726px;
  top:770px;
  width:680px;
  height:210px;
}
#u16714 {
  position:absolute;
  left:2px;
  top:97px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u16715 {
  position:absolute;
  left:2824px;
  top:860px;
  width:530px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u16716 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u16717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16717 {
  position:absolute;
  left:2759px;
  top:802px;
  width:40px;
  height:40px;
}
#u16718 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u16720 {
  position:absolute;
  left:2824px;
  top:802px;
  width:249px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u16721 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u16722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u16722 {
  position:absolute;
  left:2824px;
  top:826px;
  width:120px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u16723 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u16724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u16724 {
  position:absolute;
  left:2824px;
  top:916px;
  width:81px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u16725 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u16726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u16728 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:130px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u16729 {
  position:absolute;
  left:16px;
  top:48px;
  width:248px;
  word-wrap:break-word;
}
#u16730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16731_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:29px;
  height:21px;
}
#u16731 {
  position:absolute;
  left:773px;
  top:265px;
  width:13px;
  height:5px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u16732 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u16733 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u16734 {
  position:absolute;
  left:16px;
  top:4px;
  width:248px;
  word-wrap:break-word;
}
#u16735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u16735 {
  position:absolute;
  left:740px;
  top:139px;
  width:57px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u16736 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u16737 {
  position:absolute;
  left:797px;
  top:142px;
  width:107px;
  height:16px;
}
#u16738 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
