body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u52694 {
  position:absolute;
  left:610px;
  top:0px;
  width:129px;
  height:39px;
}
#u52695 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52696 {
  position:absolute;
  left:600px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u52696_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52696_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52697 {
  position:absolute;
  left:672px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u52697_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52697_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:399px;
}
#u52698 {
  position:absolute;
  left:410px;
  top:42px;
  width:557px;
  height:399px;
}
#u52699 {
  position:absolute;
  left:2px;
  top:192px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:399px;
}
#u52700 {
  position:absolute;
  left:410px;
  top:454px;
  width:557px;
  height:399px;
}
#u52701 {
  position:absolute;
  left:2px;
  top:192px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
