body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70660 {
  position:absolute;
  left:1060px;
  top:645px;
  width:71px;
  height:16px;
}
#u70661 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u70662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1319px;
  height:45px;
}
#u70662 {
  position:absolute;
  left:490px;
  top:711px;
  width:1319px;
  height:45px;
}
#u70663 {
  position:absolute;
  left:2px;
  top:14px;
  width:1315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:54px;
}
#u70664 {
  position:absolute;
  left:474px;
  top:704px;
  width:36px;
  height:54px;
}
#u70665 {
  position:absolute;
  left:2px;
  top:19px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70666 {
  position:absolute;
  left:1131px;
  top:637px;
  width:300px;
  height:30px;
}
#u70666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70666_input:disabled {
  color:grayText;
}
#u70667 {
  position:absolute;
  left:1131px;
  top:667px;
  width:249px;
  height:40px;
  overflow:hidden;
}
#u70667_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70667_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5A037;
}
#u70668 {
  position:absolute;
  left:19px;
  top:10px;
  width:43px;
  height:16px;
  color:#F5A037;
}
#u70669 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u70670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5A037;
}
#u70670 {
  position:absolute;
  left:83px;
  top:10px;
  width:43px;
  height:16px;
  color:#F5A037;
}
#u70671 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u70672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F5A037;
}
#u70672 {
  position:absolute;
  left:6px;
  top:5px;
  width:13px;
  height:30px;
  font-size:20px;
  color:#F5A037;
}
#u70673 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u70674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F5A037;
}
#u70674 {
  position:absolute;
  left:70px;
  top:5px;
  width:13px;
  height:30px;
  font-size:20px;
  color:#F5A037;
}
#u70675 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u70676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u70676 {
  position:absolute;
  left:1044px;
  top:648px;
  width:15px;
  height:9px;
}
#u70677 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70679 {
  position:absolute;
  left:1583px;
  top:54px;
  visibility:hidden;
}
#u70679_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u70679_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:rgba(64, 64, 64, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u70680 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:rgba(64, 64, 64, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u70681 {
  position:absolute;
  left:64px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u70682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u70682 {
  position:absolute;
  left:24px;
  top:16px;
  width:24px;
  height:25px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#52C41A;
}
#u70683 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70679_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u70679_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u70685 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:82px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u70686 {
  position:absolute;
  left:64px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u70687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u70687 {
  position:absolute;
  left:23px;
  top:14px;
  width:24px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F5222D;
}
#u70688 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u70689 {
  position:absolute;
  left:64px;
  top:38px;
  width:183px;
  height:19px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u70690 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u70691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u70691 {
  position:absolute;
  left:287px;
  top:6px;
  width:13px;
  height:19px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u70692 {
  position:absolute;
  left:0px;
  top:1px;
  width:17px;
  white-space:nowrap;
}
#u70694 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u70694_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70694_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u70695 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u70696 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70697 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u70698 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
}
#u70699 {
  position:absolute;
  left:6px;
  top:20px;
  width:193px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u70700 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u70701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70701 {
  position:absolute;
  left:30px;
  top:96px;
  width:85px;
  height:16px;
}
#u70702 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u70703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 140, 240, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70703 {
  position:absolute;
  left:1058px;
  top:103px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70703_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(87, 163, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 140, 240, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70703.mouseOver {
}
#u70703_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 222, 225, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70703.disabled {
}
#u70704 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u70705 {
  position:absolute;
  left:30px;
  top:154px;
  width:1106px;
  height:155px;
}
#u70706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u70706 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
  text-align:left;
}
#u70707 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u70708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:50px;
}
#u70708 {
  position:absolute;
  left:97px;
  top:0px;
  width:397px;
  height:50px;
}
#u70709 {
  position:absolute;
  left:2px;
  top:17px;
  width:393px;
  word-wrap:break-word;
}
#u70710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u70710 {
  position:absolute;
  left:494px;
  top:0px;
  width:218px;
  height:50px;
}
#u70711 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u70712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u70712 {
  position:absolute;
  left:712px;
  top:0px;
  width:201px;
  height:50px;
}
#u70713 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u70714 {
  position:absolute;
  left:913px;
  top:0px;
  width:188px;
  height:50px;
}
#u70715 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u70716 {
  position:absolute;
  left:0px;
  top:50px;
  width:97px;
  height:50px;
  text-align:left;
}
#u70717 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u70716_ann {
  position:absolute;
  left:83px;
  top:50px;
  width:1px;
  height:1px;
}
#u70718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:50px;
}
#u70718 {
  position:absolute;
  left:97px;
  top:50px;
  width:397px;
  height:50px;
  text-align:left;
}
#u70719 {
  position:absolute;
  left:2px;
  top:9px;
  width:393px;
  word-wrap:break-word;
}
#u70720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u70720 {
  position:absolute;
  left:494px;
  top:50px;
  width:218px;
  height:50px;
}
#u70721 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u70722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u70722 {
  position:absolute;
  left:712px;
  top:50px;
  width:201px;
  height:50px;
}
#u70723 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u70724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u70724 {
  position:absolute;
  left:913px;
  top:50px;
  width:188px;
  height:50px;
}
#u70725 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u70726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u70726 {
  position:absolute;
  left:0px;
  top:100px;
  width:97px;
  height:50px;
}
#u70727 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:50px;
}
#u70728 {
  position:absolute;
  left:97px;
  top:100px;
  width:397px;
  height:50px;
}
#u70729 {
  position:absolute;
  left:2px;
  top:17px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u70730 {
  position:absolute;
  left:494px;
  top:100px;
  width:218px;
  height:50px;
}
#u70731 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u70732 {
  position:absolute;
  left:712px;
  top:100px;
  width:201px;
  height:50px;
}
#u70733 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u70734 {
  position:absolute;
  left:913px;
  top:100px;
  width:188px;
  height:50px;
}
#u70735 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:49px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70736 {
  position:absolute;
  left:525px;
  top:155px;
  width:605px;
  height:49px;
}
#u70737 {
  position:absolute;
  left:2px;
  top:16px;
  width:601px;
  word-wrap:break-word;
}
#u70738 {
  position:absolute;
  left:578px;
  top:221px;
  width:35px;
  height:16px;
}
#u70739 {
  position:absolute;
  left:16px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70738_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70740 {
  position:absolute;
  left:792px;
  top:221px;
  width:24px;
  height:16px;
}
#u70741 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70740_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70742 {
  position:absolute;
  left:993px;
  top:221px;
  width:24px;
  height:16px;
}
#u70743 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70742_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
