body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:933px;
}
#u32855 {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:933px;
}
#u32856 {
  position:absolute;
  left:2px;
  top:458px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32857 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:142px;
  overflow:hidden;
}
#u32857_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:142px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32857_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u32858 {
  position:absolute;
  left:615px;
  top:178px;
  width:49px;
  height:19px;
}
#u32859 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u32860 {
  position:absolute;
  left:607px;
  top:198px;
  width:60px;
  height:19px;
}
#u32861 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u32862 {
  position:absolute;
  left:618px;
  top:159px;
  width:49px;
  height:18px;
}
#u32863 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
