body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u52672 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u52673 {
  position:absolute;
  left:20px;
  top:15px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u52674 {
  position:absolute;
  left:20px;
  top:14px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u52675 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u52676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u52676 {
  position:absolute;
  left:1142px;
  top:10px;
  width:19px;
  height:20px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u52677 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52678 {
  position:absolute;
  left:860px;
  top:10px;
  width:20px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52679 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:490px;
}
#u52680 {
  position:absolute;
  left:2px;
  top:237px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u52682 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u52683 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  word-wrap:break-word;
}
#u52684 {
  position:absolute;
  left:59px;
  top:144px;
  width:953px;
  height:345px;
}
#u52685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u52685 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52686 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u52687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u52687 {
  position:absolute;
  left:55px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52688 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u52689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u52689 {
  position:absolute;
  left:218px;
  top:0px;
  width:237px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52690 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u52691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u52691 {
  position:absolute;
  left:455px;
  top:0px;
  width:185px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52692 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u52693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u52693 {
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52694 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u52695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u52695 {
  position:absolute;
  left:790px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52696 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u52697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u52697 {
  position:absolute;
  left:0px;
  top:40px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52698 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u52699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u52699 {
  position:absolute;
  left:55px;
  top:40px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u52700 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u52701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u52701 {
  position:absolute;
  left:218px;
  top:40px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52702 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u52703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u52703 {
  position:absolute;
  left:455px;
  top:40px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52704 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u52705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u52705 {
  position:absolute;
  left:640px;
  top:40px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52706 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u52707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u52707 {
  position:absolute;
  left:790px;
  top:40px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52708 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u52709 {
  position:absolute;
  left:0px;
  top:100px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52710 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u52711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u52711 {
  position:absolute;
  left:55px;
  top:100px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u52712 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u52713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u52713 {
  position:absolute;
  left:218px;
  top:100px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52714 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u52715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u52715 {
  position:absolute;
  left:455px;
  top:100px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52716 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u52717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u52717 {
  position:absolute;
  left:640px;
  top:100px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52718 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u52719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u52719 {
  position:absolute;
  left:790px;
  top:100px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52720 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u52721 {
  position:absolute;
  left:0px;
  top:160px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52722 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u52723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u52723 {
  position:absolute;
  left:55px;
  top:160px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u52724 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u52725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u52725 {
  position:absolute;
  left:218px;
  top:160px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52726 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u52727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u52727 {
  position:absolute;
  left:455px;
  top:160px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52728 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u52729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u52729 {
  position:absolute;
  left:640px;
  top:160px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52730 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u52731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u52731 {
  position:absolute;
  left:790px;
  top:160px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52732 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u52733 {
  position:absolute;
  left:0px;
  top:220px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52734 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u52735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u52735 {
  position:absolute;
  left:55px;
  top:220px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u52736 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u52737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u52737 {
  position:absolute;
  left:218px;
  top:220px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52738 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u52739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u52739 {
  position:absolute;
  left:455px;
  top:220px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52740 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u52741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u52741 {
  position:absolute;
  left:640px;
  top:220px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52742 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u52743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u52743 {
  position:absolute;
  left:790px;
  top:220px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52744 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u52745 {
  position:absolute;
  left:0px;
  top:280px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52746 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u52747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u52747 {
  position:absolute;
  left:55px;
  top:280px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u52748 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u52749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u52749 {
  position:absolute;
  left:218px;
  top:280px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52750 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u52751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u52751 {
  position:absolute;
  left:455px;
  top:280px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52752 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u52753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u52753 {
  position:absolute;
  left:640px;
  top:280px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52754 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u52755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u52755 {
  position:absolute;
  left:790px;
  top:280px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u52756 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52757 {
  position:absolute;
  left:269px;
  top:94px;
  width:70px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52757_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 177, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52757.mouseOver {
}
#u52757_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(58, 142, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52757.mouseDown {
}
#u52757_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 207, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52757.disabled {
}
#u52758 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u52759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52759 {
  position:absolute;
  left:59px;
  top:94px;
  width:200px;
  height:40px;
}
#u52759_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52759.mouseOver {
}
#u52759_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52759.selected {
}
#u52760 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52761 {
  position:absolute;
  left:66px;
  top:101px;
  width:178px;
  height:25px;
}
#u52761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#495060;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u52762 {
  position:absolute;
  left:300px;
  top:500px;
  width:164px;
  height:23px;
}
#u52763 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52764 {
  position:absolute;
  left:372px;
  top:520px;
  width:20px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52767 {
  position:absolute;
  left:112px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52767_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52767.mouseOver {
}
#u52767_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52767.mouseDown {
}
#u52768 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u52769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 142, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52769 {
  position:absolute;
  left:16px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52769_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52769.mouseOver {
  opacity:0.8;
}
#u52769_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52769.mouseDown {
  opacity:1;
}
#u52770 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u52771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52774 {
  position:absolute;
  left:881px;
  top:199px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52775 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u52776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52776 {
  position:absolute;
  left:951px;
  top:218px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52777 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52778 {
  position:absolute;
  left:951px;
  top:202px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52779 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u52780 {
  position:absolute;
  left:945px;
  top:215px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u52782 {
  position:absolute;
  left:930px;
  top:214px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52783 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u52784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52787 {
  position:absolute;
  left:880px;
  top:259px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52788 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u52789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52789 {
  position:absolute;
  left:950px;
  top:278px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52790 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52791 {
  position:absolute;
  left:950px;
  top:262px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52792 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u52793 {
  position:absolute;
  left:944px;
  top:275px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52794 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u52795 {
  position:absolute;
  left:929px;
  top:274px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52796 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u52797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52800 {
  position:absolute;
  left:880px;
  top:320px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52801 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u52802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52802 {
  position:absolute;
  left:950px;
  top:339px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52803 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52804 {
  position:absolute;
  left:950px;
  top:323px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52805 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u52806 {
  position:absolute;
  left:944px;
  top:336px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52807 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u52808 {
  position:absolute;
  left:929px;
  top:335px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52809 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u52810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52813 {
  position:absolute;
  left:880px;
  top:379px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52814 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u52815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52815 {
  position:absolute;
  left:950px;
  top:398px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52816 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52817 {
  position:absolute;
  left:950px;
  top:382px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52818 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u52819 {
  position:absolute;
  left:944px;
  top:395px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52820 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u52821 {
  position:absolute;
  left:929px;
  top:394px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52822 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u52823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52826 {
  position:absolute;
  left:880px;
  top:439px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u52827 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u52828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52828 {
  position:absolute;
  left:950px;
  top:458px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52829 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u52830 {
  position:absolute;
  left:950px;
  top:442px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52831 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u52832 {
  position:absolute;
  left:944px;
  top:455px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u52834 {
  position:absolute;
  left:929px;
  top:454px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u52835 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u52836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u52836 {
  position:absolute;
  left:560px;
  top:48px;
  width:181px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u52837 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u52838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u52838 {
  position:absolute;
  left:562px;
  top:84px;
  width:221px;
  height:68px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u52839 {
  position:absolute;
  left:8px;
  top:4px;
  width:213px;
  word-wrap:break-word;
}
