body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1556px;
  height:927px;
}
#u45129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1556px;
  height:927px;
}
#u45130 {
  position:absolute;
  left:2px;
  top:456px;
  width:1552px;
  visibility:hidden;
  word-wrap:break-word;
}
