body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u32838 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u32839 {
  position:absolute;
  left:2px;
  top:376px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32840 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  overflow:hidden;
}
#u32840_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32840_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u32841 {
  position:absolute;
  left:139px;
  top:152px;
  width:96px;
  height:22px;
}
#u32842 {
  position:absolute;
  left:2px;
  top:3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u32843 {
  position:absolute;
  left:143px;
  top:175px;
  width:96px;
  height:23px;
}
#u32844 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u32845 {
  position:absolute;
  left:143px;
  top:199px;
  width:96px;
  height:23px;
}
#u32846 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
