body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u36956 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u36957 {
  position:absolute;
  left:2px;
  top:376px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36958 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  overflow:hidden;
}
#u36958_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u36959 {
  position:absolute;
  left:139px;
  top:152px;
  width:96px;
  height:22px;
}
#u36960 {
  position:absolute;
  left:2px;
  top:3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u36961 {
  position:absolute;
  left:143px;
  top:175px;
  width:96px;
  height:23px;
}
#u36962 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u36963 {
  position:absolute;
  left:143px;
  top:199px;
  width:96px;
  height:23px;
}
#u36964 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
