body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u28839 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u28840 {
  position:absolute;
  left:2px;
  top:376px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28841 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  overflow:hidden;
}
#u28841_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28841_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u28842 {
  position:absolute;
  left:139px;
  top:152px;
  width:96px;
  height:22px;
}
#u28843 {
  position:absolute;
  left:2px;
  top:3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u28844 {
  position:absolute;
  left:143px;
  top:175px;
  width:96px;
  height:23px;
}
#u28845 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u28846 {
  position:absolute;
  left:143px;
  top:199px;
  width:96px;
  height:23px;
}
#u28847 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
