body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48921 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u48921_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48921_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u48922 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u48923 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48924 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u48925 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u48926 {
  position:absolute;
  left:17px;
  top:19px;
  width:165px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u48927 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u48928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u48929 {
  position:absolute;
  left:14px;
  top:122px;
  width:1257px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u48930 {
  position:absolute;
  left:2px;
  top:9px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48932 {
  position:absolute;
  left:33px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48935 {
  position:absolute;
  left:1188px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48936 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48937 {
  position:absolute;
  left:916px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48938 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48940 {
  position:absolute;
  left:357px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u48941 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u48943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u48944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u48944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
}
.u48944_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u48944.mouseOver {
}
.u48945 {
  position:absolute;
  left:2px;
  top:17px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
.u48946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u48946 {
  position:absolute;
  left:344px;
  top:18px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u48947 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u48948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u48948 {
  position:absolute;
  left:20px;
  top:18px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u48949 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u48950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u48950 {
  position:absolute;
  left:905px;
  top:18px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u48951 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u48952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u48952 {
  position:absolute;
  left:1169px;
  top:14px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u48953 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u48954 {
  position:absolute;
  left:1169px;
  top:49px;
  width:68px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
.u48954_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u48954_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u48955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u48955 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
.u48956 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
.u48958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
.u48958 {
  position:absolute;
  left:1220px;
  top:11px;
  width:28px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u48959 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u48960 {
  position:absolute;
  left:1227px;
  top:45px;
  width:100px;
  height:28px;
  overflow:hidden;
  visibility:hidden;
}
.u48960_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u48960_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u48961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u48961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  font-size:12px;
}
.u48962 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
.u48963 {
  position:absolute;
  left:1216px;
  top:6px;
  width:40px;
  height:33px;
  overflow:hidden;
}
.u48963_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u48963_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48942-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
}
#u48942-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:1258px;
  height:50px;
}
#u48942-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:1258px;
  height:50px;
}
#u48942-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:1258px;
  height:50px;
}
#u48942-5 {
  position:absolute;
  left:0px;
  top:200px;
  width:1258px;
  height:50px;
}
#u48942-6 {
  position:absolute;
  left:0px;
  top:250px;
  width:1258px;
  height:50px;
}
#u48942-7 {
  position:absolute;
  left:0px;
  top:300px;
  width:1258px;
  height:50px;
}
#u48942 {
  position:absolute;
  left:14px;
  top:156px;
  width:1258px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48964 {
  position:absolute;
  left:22px;
  top:89px;
  width:162px;
  height:30px;
}
#u48964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48967 {
  position:absolute;
  left:209px;
  top:89px;
  width:74px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48968 {
  position:absolute;
  left:16px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u48969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48969 {
  position:absolute;
  left:217px;
  top:98px;
  width:15px;
  height:15px;
}
#u48970 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48971 {
  position:absolute;
  left:12px;
  top:80px;
  width:1259px;
  height:426px;
  overflow:hidden;
  visibility:hidden;
}
#u48971_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:426px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48971_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48972 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
}
#u48973 {
  position:absolute;
  left:2px;
  top:156px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u48974 {
  position:absolute;
  left:502px;
  top:453px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u48975 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u48976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u48976 {
  position:absolute;
  left:176px;
  top:1226px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u48977 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u48978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u48978 {
  position:absolute;
  left:456px;
  top:2064px;
  width:341px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u48979 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48980 {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
}
#u48981 {
  position:absolute;
  left:2px;
  top:150px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48982 {
  position:absolute;
  left:12px;
  top:10px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48983 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u48984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(87, 163, 243, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u48984 {
  position:absolute;
  left:127px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u48985 {
  position:absolute;
  left:16px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u48986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u48987 {
  position:absolute;
  left:22px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u48988 {
  position:absolute;
  left:16px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
#u48989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u48989 {
  position:absolute;
  left:0px;
  top:42px;
  width:1272px;
  height:1px;
}
#u48990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u48991 {
  position:absolute;
  left:57px;
  top:67px;
  width:39px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u48992 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u48993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u48993 {
  position:absolute;
  left:0px;
  top:243px;
  width:1272px;
  height:1px;
}
#u48994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48995 {
  position:absolute;
  left:127px;
  top:62px;
  width:299px;
  height:30px;
}
#u48995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u48996 {
  position:absolute;
  left:63px;
  top:126px;
  width:33px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u48997 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u48998 {
  position:absolute;
  left:126px;
  top:129px;
  width:300px;
  height:81px;
}
#u48998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48971_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:426px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48971_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48999 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
}
#u49000 {
  position:absolute;
  left:2px;
  top:156px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u49001 {
  position:absolute;
  left:502px;
  top:453px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u49002 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u49003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u49003 {
  position:absolute;
  left:176px;
  top:1226px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u49004 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u49005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u49005 {
  position:absolute;
  left:456px;
  top:2064px;
  width:341px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49006 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
}
#u49008 {
  position:absolute;
  left:2px;
  top:150px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49009 {
  position:absolute;
  left:12px;
  top:10px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49010 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u49011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(87, 163, 243, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u49011 {
  position:absolute;
  left:127px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u49012 {
  position:absolute;
  left:16px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u49013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u49014 {
  position:absolute;
  left:22px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u49015 {
  position:absolute;
  left:16px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
#u49016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u49016 {
  position:absolute;
  left:0px;
  top:42px;
  width:1272px;
  height:1px;
}
#u49017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u49018 {
  position:absolute;
  left:57px;
  top:67px;
  width:39px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u49019 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u49020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u49020 {
  position:absolute;
  left:0px;
  top:243px;
  width:1272px;
  height:1px;
}
#u49021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49022 {
  position:absolute;
  left:127px;
  top:62px;
  width:299px;
  height:30px;
}
#u49022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u49023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u49023 {
  position:absolute;
  left:63px;
  top:126px;
  width:33px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u49024 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49025 {
  position:absolute;
  left:126px;
  top:129px;
  width:300px;
  height:81px;
}
#u49025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u49026 {
  position:absolute;
  left:14px;
  top:570px;
  width:183px;
  height:150px;
}
#u49027 {
  position:absolute;
  left:10px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u49029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49030 {
  position:absolute;
  left:10px;
  top:745px;
  width:1277px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49031 {
  position:absolute;
  left:2px;
  top:20px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u49034 {
  position:absolute;
  left:1056px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u49035 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49036 {
  position:absolute;
  left:1094px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49037 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49038 {
  position:absolute;
  left:1131px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49039 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49040 {
  position:absolute;
  left:1169px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49041 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49042 {
  position:absolute;
  left:1206px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49043 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u49045 {
  position:absolute;
  left:1019px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u49046 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u49047 {
  position:absolute;
  left:1027px;
  top:765px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49048 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u49050 {
  position:absolute;
  left:1244px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u49051 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u49052 {
  position:absolute;
  left:1252px;
  top:765px;
  width:13px;
  height:13px;
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49053 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49054 {
  position:absolute;
  left:922px;
  top:762px;
  width:53px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u49055 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(19, 193, 159, 0.8);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49057 {
  position:absolute;
  left:1179px;
  top:89px;
  width:92px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49057_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(19, 193, 159, 0.8);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49057.mouseOver {
}
#u49057_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49057.disabled {
}
#u49058 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49059 {
  position:absolute;
  left:1179px;
  top:89px;
  width:92px;
  height:30px;
  overflow:hidden;
}
#u49059_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49059_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49060 {
  position:absolute;
  left:3px;
  top:5px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u49061 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
