body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:813px;
}
#u14123 {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:813px;
}
#u14124 {
  position:absolute;
  left:2px;
  top:398px;
  width:1454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  overflow:hidden;
}
#u14125_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14125_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
