body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:557px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30128 {
  position:absolute;
  left:9px;
  top:110px;
  width:375px;
  height:557px;
}
#u30129 {
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:110px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30131 {
  position:absolute;
  left:11px;
  top:0px;
  width:373px;
  height:110px;
}
#u30132 {
  position:absolute;
  left:2px;
  top:47px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30133 {
  position:absolute;
  left:21px;
  top:29px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30134 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u30135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u30135 {
  position:absolute;
  left:21px;
  top:8px;
  width:360px;
  height:11px;
}
#u30136 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30137 {
  position:absolute;
  left:160px;
  top:36px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30138 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u30139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30139 {
  position:absolute;
  left:158px;
  top:62px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30140 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u30141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30141 {
  position:absolute;
  left:10px;
  top:109px;
  width:373px;
  height:40px;
}
#u30142 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
}
#u30143 {
  position:absolute;
  left:420px;
  top:92px;
  width:253px;
  height:48px;
  color:#FF3399;
}
#u30144 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u30145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30145 {
  position:absolute;
  left:7px;
  top:493px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30146 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u30147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30147 {
  position:absolute;
  left:10px;
  top:150px;
  width:373px;
  height:281px;
}
#u30148 {
  position:absolute;
  left:2px;
  top:132px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30149 {
  position:absolute;
  left:21px;
  top:120px;
  width:187px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30150 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u30151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30151 {
  position:absolute;
  left:21px;
  top:159px;
  width:57px;
  height:16px;
}
#u30152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u30153 {
  position:absolute;
  left:208px;
  top:120px;
  width:143px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u30154 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u30155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u30155 {
  position:absolute;
  left:15px;
  top:182px;
  width:355px;
  height:1px;
}
#u30156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30157 {
  position:absolute;
  left:0px;
  top:184px;
  width:373px;
  height:247px;
}
#u30158 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30159 {
  position:absolute;
  left:44px;
  top:197px;
  width:9px;
  height:16px;
}
#u30160 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u30161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30162 {
  position:absolute;
  left:11px;
  top:183px;
  width:347px;
  height:64px;
}
#u30163 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u30164 {
  position:absolute;
  left:33px;
  top:183px;
  width:335px;
  height:1px;
}
#u30165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u30166 {
  position:absolute;
  left:11px;
  top:247px;
  width:357px;
  height:1px;
}
#u30167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u30168 {
  position:absolute;
  left:11px;
  top:183px;
  width:361px;
  height:1px;
}
#u30169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u30170 {
  position:absolute;
  left:31px;
  top:197px;
  width:203px;
  height:55px;
}
#u30171 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u30172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u30172 {
  position:absolute;
  left:268px;
  top:197px;
  width:81px;
  height:16px;
}
#u30173 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30174 {
  position:absolute;
  left:338px;
  top:214px;
  width:8px;
  height:16px;
}
#u30175 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30176 {
  position:absolute;
  left:18px;
  top:197px;
  width:8px;
  height:16px;
}
#u30177 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30178 {
  position:absolute;
  left:63px;
  top:265px;
  width:9px;
  height:16px;
}
#u30179 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u30180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30181 {
  position:absolute;
  left:11px;
  top:247px;
  width:347px;
  height:64px;
}
#u30182 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u30183 {
  position:absolute;
  left:33px;
  top:247px;
  width:335px;
  height:1px;
}
#u30184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u30185 {
  position:absolute;
  left:11px;
  top:311px;
  width:357px;
  height:1px;
}
#u30186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u30187 {
  position:absolute;
  left:11px;
  top:247px;
  width:361px;
  height:1px;
}
#u30188 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u30189 {
  position:absolute;
  left:31px;
  top:261px;
  width:203px;
  height:55px;
}
#u30190 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u30191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u30191 {
  position:absolute;
  left:268px;
  top:261px;
  width:81px;
  height:16px;
}
#u30192 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30193 {
  position:absolute;
  left:338px;
  top:278px;
  width:8px;
  height:16px;
}
#u30194 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30195 {
  position:absolute;
  left:18px;
  top:261px;
  width:8px;
  height:16px;
}
#u30196 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30197 {
  position:absolute;
  left:63px;
  top:329px;
  width:9px;
  height:16px;
}
#u30198 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u30199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30200 {
  position:absolute;
  left:11px;
  top:311px;
  width:347px;
  height:64px;
}
#u30201 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u30202 {
  position:absolute;
  left:33px;
  top:311px;
  width:335px;
  height:1px;
}
#u30203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u30204 {
  position:absolute;
  left:11px;
  top:375px;
  width:357px;
  height:1px;
}
#u30205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u30206 {
  position:absolute;
  left:11px;
  top:311px;
  width:361px;
  height:1px;
}
#u30207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u30208 {
  position:absolute;
  left:31px;
  top:324px;
  width:203px;
  height:55px;
}
#u30209 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u30210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u30210 {
  position:absolute;
  left:269px;
  top:323px;
  width:81px;
  height:16px;
}
#u30211 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30212 {
  position:absolute;
  left:339px;
  top:340px;
  width:8px;
  height:16px;
}
#u30213 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30214 {
  position:absolute;
  left:18px;
  top:324px;
  width:8px;
  height:16px;
}
#u30215 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30216 {
  position:absolute;
  left:14px;
  top:392px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30217 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u30218 {
  position:absolute;
  left:251px;
  top:393px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30219 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u30220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u30220 {
  position:absolute;
  left:7px;
  top:435px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u30221 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
