body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:557px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25937 {
  position:absolute;
  left:9px;
  top:110px;
  width:375px;
  height:557px;
}
#u25938 {
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:110px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25940 {
  position:absolute;
  left:11px;
  top:0px;
  width:373px;
  height:110px;
}
#u25941 {
  position:absolute;
  left:2px;
  top:47px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25942 {
  position:absolute;
  left:21px;
  top:29px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25943 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u25944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u25944 {
  position:absolute;
  left:21px;
  top:8px;
  width:360px;
  height:11px;
}
#u25945 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25946 {
  position:absolute;
  left:160px;
  top:36px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25947 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u25948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25948 {
  position:absolute;
  left:158px;
  top:62px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25949 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u25950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25950 {
  position:absolute;
  left:10px;
  top:109px;
  width:373px;
  height:40px;
}
#u25951 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
}
#u25952 {
  position:absolute;
  left:420px;
  top:92px;
  width:253px;
  height:48px;
  color:#FF3399;
}
#u25953 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u25954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25954 {
  position:absolute;
  left:7px;
  top:493px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25955 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u25956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25956 {
  position:absolute;
  left:10px;
  top:150px;
  width:373px;
  height:281px;
}
#u25957 {
  position:absolute;
  left:2px;
  top:132px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25958 {
  position:absolute;
  left:21px;
  top:120px;
  width:187px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25959 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u25960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25960 {
  position:absolute;
  left:21px;
  top:159px;
  width:57px;
  height:16px;
}
#u25961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25962 {
  position:absolute;
  left:208px;
  top:120px;
  width:143px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25963 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u25964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u25964 {
  position:absolute;
  left:15px;
  top:182px;
  width:355px;
  height:1px;
}
#u25965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25966 {
  position:absolute;
  left:0px;
  top:184px;
  width:373px;
  height:247px;
}
#u25967 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25968 {
  position:absolute;
  left:44px;
  top:197px;
  width:9px;
  height:16px;
}
#u25969 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u25970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25971 {
  position:absolute;
  left:11px;
  top:183px;
  width:347px;
  height:64px;
}
#u25972 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u25973 {
  position:absolute;
  left:33px;
  top:183px;
  width:335px;
  height:1px;
}
#u25974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u25975 {
  position:absolute;
  left:11px;
  top:247px;
  width:357px;
  height:1px;
}
#u25976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u25977 {
  position:absolute;
  left:11px;
  top:183px;
  width:361px;
  height:1px;
}
#u25978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u25979 {
  position:absolute;
  left:31px;
  top:197px;
  width:203px;
  height:55px;
}
#u25980 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u25981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u25981 {
  position:absolute;
  left:268px;
  top:197px;
  width:81px;
  height:16px;
}
#u25982 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u25983 {
  position:absolute;
  left:338px;
  top:214px;
  width:8px;
  height:16px;
}
#u25984 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u25985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u25985 {
  position:absolute;
  left:18px;
  top:197px;
  width:8px;
  height:16px;
}
#u25986 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u25987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25987 {
  position:absolute;
  left:63px;
  top:265px;
  width:9px;
  height:16px;
}
#u25988 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u25989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25990 {
  position:absolute;
  left:11px;
  top:247px;
  width:347px;
  height:64px;
}
#u25991 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u25992 {
  position:absolute;
  left:33px;
  top:247px;
  width:335px;
  height:1px;
}
#u25993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u25994 {
  position:absolute;
  left:11px;
  top:311px;
  width:357px;
  height:1px;
}
#u25995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u25996 {
  position:absolute;
  left:11px;
  top:247px;
  width:361px;
  height:1px;
}
#u25997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u25998 {
  position:absolute;
  left:31px;
  top:261px;
  width:203px;
  height:55px;
}
#u25999 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u26000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u26000 {
  position:absolute;
  left:268px;
  top:261px;
  width:81px;
  height:16px;
}
#u26001 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u26002 {
  position:absolute;
  left:338px;
  top:278px;
  width:8px;
  height:16px;
}
#u26003 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u26004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u26004 {
  position:absolute;
  left:18px;
  top:261px;
  width:8px;
  height:16px;
}
#u26005 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u26006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26006 {
  position:absolute;
  left:63px;
  top:329px;
  width:9px;
  height:16px;
}
#u26007 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u26008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26009 {
  position:absolute;
  left:11px;
  top:311px;
  width:347px;
  height:64px;
}
#u26010 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u26011 {
  position:absolute;
  left:33px;
  top:311px;
  width:335px;
  height:1px;
}
#u26012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u26013 {
  position:absolute;
  left:11px;
  top:375px;
  width:357px;
  height:1px;
}
#u26014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u26015 {
  position:absolute;
  left:11px;
  top:311px;
  width:361px;
  height:1px;
}
#u26016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
#u26017 {
  position:absolute;
  left:31px;
  top:324px;
  width:203px;
  height:55px;
}
#u26018 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u26019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u26019 {
  position:absolute;
  left:269px;
  top:323px;
  width:81px;
  height:16px;
}
#u26020 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u26021 {
  position:absolute;
  left:339px;
  top:340px;
  width:8px;
  height:16px;
}
#u26022 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u26023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u26023 {
  position:absolute;
  left:18px;
  top:324px;
  width:8px;
  height:16px;
}
#u26024 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u26025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26025 {
  position:absolute;
  left:14px;
  top:392px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26026 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u26027 {
  position:absolute;
  left:251px;
  top:393px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26028 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u26029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u26029 {
  position:absolute;
  left:7px;
  top:435px;
  width:373px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u26030 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
