body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51493 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u51493_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51493_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u51494 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u51495 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51496 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u51497 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51500 {
  position:absolute;
  left:10px;
  top:745px;
  width:1277px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51501 {
  position:absolute;
  left:2px;
  top:20px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u51504 {
  position:absolute;
  left:1056px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u51505 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u51506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51506 {
  position:absolute;
  left:1094px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51507 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u51508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51508 {
  position:absolute;
  left:1131px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51509 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u51510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51510 {
  position:absolute;
  left:1169px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51511 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u51512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51512 {
  position:absolute;
  left:1206px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51513 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u51514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u51515 {
  position:absolute;
  left:1019px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u51516 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u51517 {
  position:absolute;
  left:1027px;
  top:765px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51518 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u51520 {
  position:absolute;
  left:1244px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u51521 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u51522 {
  position:absolute;
  left:1252px;
  top:765px;
  width:13px;
  height:13px;
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51523 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51524 {
  position:absolute;
  left:922px;
  top:762px;
  width:53px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u51525 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51526 {
  position:absolute;
  left:25px;
  top:830px;
  width:201px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51527 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u51528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u51528 {
  position:absolute;
  left:26px;
  top:868px;
  width:1117px;
  height:242px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u51529 {
  position:absolute;
  left:8px;
  top:4px;
  width:1109px;
  word-wrap:break-word;
}
#u51530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:123px;
}
#u51530 {
  position:absolute;
  left:37px;
  top:1134px;
  width:893px;
  height:123px;
}
#u51531 {
  position:absolute;
  left:2px;
  top:54px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:87px;
}
#u51532 {
  position:absolute;
  left:1390px;
  top:187px;
  width:440px;
  height:86px;
  text-align:left;
}
#u51533 {
  position:absolute;
  left:2px;
  top:3px;
  width:436px;
  word-wrap:break-word;
}
#u51534 {
  position:absolute;
  left:1290px;
  top:230px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u51534_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u51534_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:104px;
  height:8px;
}
#u51534_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u51534_seg3 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u51535 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51536 {
  position:absolute;
  left:717px;
  top:829px;
  width:81px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51537 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u51538 {
  position:absolute;
  left:711px;
  top:867px;
  width:566px;
  height:152px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u51539 {
  position:absolute;
  left:8px;
  top:4px;
  width:558px;
  word-wrap:break-word;
}
#u51540 {
  position:absolute;
  left:830px;
  top:336px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u51540_seg0 {
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u51540_seg1 {
  position:absolute;
  left:-64px;
  top:-4px;
  width:8px;
  height:488px;
}
#u51540_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u51541 {
  position:absolute;
  left:-110px;
  top:204px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51542 {
  position:absolute;
  left:959px;
  top:578px;
  width:41px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u51543 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u51544 {
  position:absolute;
  left:999px;
  top:131px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u51544_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u51544_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:455px;
}
#u51544_seg2 {
  position:absolute;
  left:-19px;
  top:443px;
  width:33px;
  height:8px;
}
#u51544_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u51545 {
  position:absolute;
  left:-40px;
  top:225px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:641px;
}
#u51546 {
  position:absolute;
  left:10px;
  top:7px;
  width:1196px;
  height:641px;
}
#u51547 {
  position:absolute;
  left:2px;
  top:312px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:48px;
}
#u51548 {
  position:absolute;
  left:24px;
  top:78px;
  width:284px;
  height:48px;
}
#u51549 {
  position:absolute;
  left:2px;
  top:16px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51550 {
  position:absolute;
  left:27px;
  top:83px;
  width:150px;
  height:40px;
}
#u51550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u51550_input:disabled {
  color:grayText;
}
#u51551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u51551 {
  position:absolute;
  left:196px;
  top:78px;
  width:299px;
  height:50px;
}
#u51552 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u51553 {
  position:absolute;
  left:240px;
  top:25px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51554 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u51555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u51555 {
  position:absolute;
  left:770px;
  top:63px;
  width:190px;
  height:37px;
}
#u51556 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
