body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:310px;
}
#u77676 {
  position:absolute;
  left:2px;
  top:147px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u77679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u77680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u77680 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:50px;
  font-size:14px;
}
.u77680_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u77680.mouseOver {
}
.u77681 {
  position:absolute;
  left:2px;
  top:17px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
.u77682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77682 {
  position:absolute;
  left:197px;
  top:16px;
  width:118px;
  height:16px;
  color:#000000;
}
.u77683 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
.u77684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77684 {
  position:absolute;
  left:760px;
  top:16px;
  width:57px;
  height:15px;
  color:#000000;
}
.u77685 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u77686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77686 {
  position:absolute;
  left:995px;
  top:16px;
  width:29px;
  height:20px;
  color:#000000;
}
.u77687 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u77688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77688 {
  position:absolute;
  left:540px;
  top:16px;
  width:43px;
  height:20px;
  color:#000000;
}
.u77689 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u77690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77690 {
  position:absolute;
  left:357px;
  top:17px;
  width:118px;
  height:16px;
  color:#000000;
}
.u77691 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
.u77692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u77692 {
  position:absolute;
  left:10px;
  top:17px;
  width:140px;
  height:16px;
  color:#000000;
}
.u77693 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u77678-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:50px;
}
#u77678-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:1240px;
  height:50px;
}
#u77678-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:1240px;
  height:50px;
}
#u77678-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:1240px;
  height:50px;
}
#u77678 {
  position:absolute;
  left:11px;
  top:94px;
  width:1240px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u77694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u77694 {
  position:absolute;
  left:320px;
  top:66px;
  width:8px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u77695 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u77696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 232, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u77696 {
  position:absolute;
  left:11px;
  top:54px;
  width:1241px;
  height:40px;
  font-size:12px;
}
#u77697 {
  position:absolute;
  left:2px;
  top:12px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77698 {
  position:absolute;
  left:1006px;
  top:63px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u77700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77700 {
  position:absolute;
  left:210px;
  top:63px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77701 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77702 {
  position:absolute;
  left:551px;
  top:63px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77703 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77704 {
  position:absolute;
  left:771px;
  top:63px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77705 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77706 {
  position:absolute;
  left:367px;
  top:63px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77707 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77708 {
  position:absolute;
  left:26px;
  top:63px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u77709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
