body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:336px;
}
#u27690 {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:336px;
}
#u27691 {
  position:absolute;
  left:2px;
  top:160px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27692 {
  position:absolute;
  left:903px;
  top:4px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u27692_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27692_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27693 {
  position:absolute;
  left:957px;
  top:4px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u27693_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27693_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
