body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u32511 {
  position:absolute;
  left:171px;
  top:23px;
  width:60px;
  height:17px;
  font-size:14px;
  color:#000000;
}
#u32512 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u32513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u32513 {
  position:absolute;
  left:62px;
  top:23px;
  width:71px;
  height:13px;
  font-size:14px;
  color:#000000;
}
#u32514 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:47px;
}
#u32515 {
  position:absolute;
  left:285px;
  top:23px;
  width:116px;
  height:47px;
}
#u32516 {
  position:absolute;
  left:2px;
  top:16px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
