body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1108px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26960 {
  position:absolute;
  left:37px;
  top:63px;
  width:1076px;
  height:725px;
}
#u26961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u26961 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
  text-align:left;
}
#u26962 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u26963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u26963 {
  position:absolute;
  left:58px;
  top:0px;
  width:213px;
  height:50px;
  text-align:left;
}
#u26964 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u26965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u26965 {
  position:absolute;
  left:271px;
  top:0px;
  width:552px;
  height:50px;
  text-align:left;
}
#u26966 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u26967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u26967 {
  position:absolute;
  left:823px;
  top:0px;
  width:138px;
  height:50px;
  text-align:left;
}
#u26968 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u26969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u26969 {
  position:absolute;
  left:961px;
  top:0px;
  width:110px;
  height:50px;
  text-align:left;
}
#u26970 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u26971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u26971 {
  position:absolute;
  left:0px;
  top:50px;
  width:58px;
  height:50px;
  text-align:left;
}
#u26972 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u26973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u26973 {
  position:absolute;
  left:58px;
  top:50px;
  width:213px;
  height:50px;
  text-align:left;
}
#u26974 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u26975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u26975 {
  position:absolute;
  left:271px;
  top:50px;
  width:552px;
  height:50px;
  text-align:left;
}
#u26976 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u26977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u26977 {
  position:absolute;
  left:823px;
  top:50px;
  width:138px;
  height:50px;
  text-align:left;
}
#u26978 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u26979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u26979 {
  position:absolute;
  left:961px;
  top:50px;
  width:110px;
  height:50px;
  text-align:left;
}
#u26980 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u26981 {
  position:absolute;
  left:0px;
  top:100px;
  width:58px;
  height:50px;
  text-align:left;
}
#u26982 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u26983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u26983 {
  position:absolute;
  left:58px;
  top:100px;
  width:213px;
  height:50px;
  text-align:left;
}
#u26984 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u26985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u26985 {
  position:absolute;
  left:271px;
  top:100px;
  width:552px;
  height:50px;
  text-align:left;
}
#u26986 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u26987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u26987 {
  position:absolute;
  left:823px;
  top:100px;
  width:138px;
  height:50px;
  text-align:left;
}
#u26988 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u26989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u26989 {
  position:absolute;
  left:961px;
  top:100px;
  width:110px;
  height:50px;
  text-align:left;
}
#u26990 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u26991 {
  position:absolute;
  left:0px;
  top:150px;
  width:58px;
  height:50px;
  text-align:left;
}
#u26992 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u26993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u26993 {
  position:absolute;
  left:58px;
  top:150px;
  width:213px;
  height:50px;
  text-align:left;
}
#u26994 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u26995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u26995 {
  position:absolute;
  left:271px;
  top:150px;
  width:552px;
  height:50px;
  text-align:left;
}
#u26996 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u26997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u26997 {
  position:absolute;
  left:823px;
  top:150px;
  width:138px;
  height:50px;
  text-align:left;
}
#u26998 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u26999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u26999 {
  position:absolute;
  left:961px;
  top:150px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27000 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27001 {
  position:absolute;
  left:0px;
  top:200px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27002 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27003 {
  position:absolute;
  left:58px;
  top:200px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27004 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27005 {
  position:absolute;
  left:271px;
  top:200px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27006 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27007 {
  position:absolute;
  left:823px;
  top:200px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27008 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27009 {
  position:absolute;
  left:961px;
  top:200px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27010 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27011 {
  position:absolute;
  left:0px;
  top:250px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27012 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27013 {
  position:absolute;
  left:58px;
  top:250px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27014 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27015 {
  position:absolute;
  left:271px;
  top:250px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27016 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27017 {
  position:absolute;
  left:823px;
  top:250px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27018 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27019 {
  position:absolute;
  left:961px;
  top:250px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27020 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:68px;
}
#u27021 {
  position:absolute;
  left:0px;
  top:300px;
  width:58px;
  height:68px;
  text-align:left;
}
#u27022 {
  position:absolute;
  left:2px;
  top:26px;
  width:54px;
  word-wrap:break-word;
}
#u27023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:68px;
}
#u27023 {
  position:absolute;
  left:58px;
  top:300px;
  width:213px;
  height:68px;
  text-align:left;
}
#u27024 {
  position:absolute;
  left:2px;
  top:26px;
  width:209px;
  word-wrap:break-word;
}
#u27025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:68px;
}
#u27025 {
  position:absolute;
  left:271px;
  top:300px;
  width:552px;
  height:68px;
  text-align:left;
}
#u27026 {
  position:absolute;
  left:2px;
  top:2px;
  width:548px;
  word-wrap:break-word;
}
#u27027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:68px;
}
#u27027 {
  position:absolute;
  left:823px;
  top:300px;
  width:138px;
  height:68px;
  text-align:left;
}
#u27028 {
  position:absolute;
  left:2px;
  top:26px;
  width:134px;
  word-wrap:break-word;
}
#u27029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u27029 {
  position:absolute;
  left:961px;
  top:300px;
  width:110px;
  height:68px;
  text-align:left;
}
#u27030 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27031 {
  position:absolute;
  left:0px;
  top:368px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27032 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27033 {
  position:absolute;
  left:58px;
  top:368px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27034 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27035 {
  position:absolute;
  left:271px;
  top:368px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27036 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27037 {
  position:absolute;
  left:823px;
  top:368px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27038 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27039 {
  position:absolute;
  left:961px;
  top:368px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27040 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27041 {
  position:absolute;
  left:0px;
  top:418px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27042 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27043 {
  position:absolute;
  left:58px;
  top:418px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27044 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27045 {
  position:absolute;
  left:271px;
  top:418px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27046 {
  position:absolute;
  left:2px;
  top:9px;
  width:548px;
  word-wrap:break-word;
}
#u27047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27047 {
  position:absolute;
  left:823px;
  top:418px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27048 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27049 {
  position:absolute;
  left:961px;
  top:418px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27050 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u27051 {
  position:absolute;
  left:0px;
  top:468px;
  width:58px;
  height:52px;
  text-align:left;
}
#u27052 {
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u27053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:52px;
}
#u27053 {
  position:absolute;
  left:58px;
  top:468px;
  width:213px;
  height:52px;
  text-align:left;
}
#u27054 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u27055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:52px;
}
#u27055 {
  position:absolute;
  left:271px;
  top:468px;
  width:552px;
  height:52px;
  text-align:left;
}
#u27056 {
  position:absolute;
  left:2px;
  top:2px;
  width:548px;
  word-wrap:break-word;
}
#u27057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u27057 {
  position:absolute;
  left:823px;
  top:468px;
  width:138px;
  height:52px;
  text-align:left;
}
#u27058 {
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u27059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u27059 {
  position:absolute;
  left:961px;
  top:468px;
  width:110px;
  height:52px;
  text-align:left;
}
#u27060 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27061 {
  position:absolute;
  left:0px;
  top:520px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27062 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27063 {
  position:absolute;
  left:58px;
  top:520px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27064 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27065 {
  position:absolute;
  left:271px;
  top:520px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27066 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27067 {
  position:absolute;
  left:823px;
  top:520px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27068 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27069 {
  position:absolute;
  left:961px;
  top:520px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27070 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27071 {
  position:absolute;
  left:0px;
  top:570px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27072 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27073 {
  position:absolute;
  left:58px;
  top:570px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27074 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27075 {
  position:absolute;
  left:271px;
  top:570px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27076 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27077 {
  position:absolute;
  left:823px;
  top:570px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27078 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27079 {
  position:absolute;
  left:961px;
  top:570px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27080 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27081 {
  position:absolute;
  left:0px;
  top:620px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27082 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27083 {
  position:absolute;
  left:58px;
  top:620px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27084 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27085 {
  position:absolute;
  left:271px;
  top:620px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27086 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27087 {
  position:absolute;
  left:823px;
  top:620px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27088 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27089 {
  position:absolute;
  left:961px;
  top:620px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27090 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u27091 {
  position:absolute;
  left:0px;
  top:670px;
  width:58px;
  height:50px;
  text-align:left;
}
#u27092 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  word-wrap:break-word;
}
#u27093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u27093 {
  position:absolute;
  left:58px;
  top:670px;
  width:213px;
  height:50px;
  text-align:left;
}
#u27094 {
  position:absolute;
  left:2px;
  top:17px;
  width:209px;
  word-wrap:break-word;
}
#u27095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:50px;
}
#u27095 {
  position:absolute;
  left:271px;
  top:670px;
  width:552px;
  height:50px;
  text-align:left;
}
#u27096 {
  position:absolute;
  left:2px;
  top:17px;
  width:548px;
  word-wrap:break-word;
}
#u27097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u27097 {
  position:absolute;
  left:823px;
  top:670px;
  width:138px;
  height:50px;
  text-align:left;
}
#u27098 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u27099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27099 {
  position:absolute;
  left:961px;
  top:670px;
  width:110px;
  height:50px;
  text-align:left;
}
#u27100 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u27101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
}
#u27101 {
  position:absolute;
  left:32px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27102 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u27103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
}
#u27103 {
  position:absolute;
  left:37px;
  top:810px;
  width:83px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27104 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u27105_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u27105 {
  position:absolute;
  left:50px;
  top:857px;
  width:30px;
  height:30px;
}
#u27106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
