body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23940 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u23940_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u23941 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u23942 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23943 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u23944 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23947 {
  position:absolute;
  left:10px;
  top:745px;
  width:1277px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23948 {
  position:absolute;
  left:2px;
  top:20px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u23951 {
  position:absolute;
  left:1056px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u23952 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u23953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23953 {
  position:absolute;
  left:1094px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23954 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23955 {
  position:absolute;
  left:1131px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23956 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23957 {
  position:absolute;
  left:1169px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23958 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u23959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23959 {
  position:absolute;
  left:1206px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23960 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u23961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23962 {
  position:absolute;
  left:1019px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23963 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u23964 {
  position:absolute;
  left:1027px;
  top:765px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23965 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23967 {
  position:absolute;
  left:1244px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23968 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u23969 {
  position:absolute;
  left:1252px;
  top:765px;
  width:13px;
  height:13px;
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23971 {
  position:absolute;
  left:922px;
  top:762px;
  width:53px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23972 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u23973 {
  position:absolute;
  left:959px;
  top:578px;
  width:41px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u23974 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23975 {
  position:absolute;
  left:999px;
  top:131px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u23975_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u23975_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:455px;
}
#u23975_seg2 {
  position:absolute;
  left:-19px;
  top:443px;
  width:33px;
  height:8px;
}
#u23975_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23976 {
  position:absolute;
  left:-40px;
  top:225px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:641px;
}
#u23977 {
  position:absolute;
  left:10px;
  top:7px;
  width:1196px;
  height:641px;
}
#u23978 {
  position:absolute;
  left:2px;
  top:312px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:48px;
}
#u23979 {
  position:absolute;
  left:24px;
  top:78px;
  width:284px;
  height:48px;
}
#u23980 {
  position:absolute;
  left:2px;
  top:16px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23981 {
  position:absolute;
  left:27px;
  top:83px;
  width:150px;
  height:40px;
}
#u23981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23981_input:disabled {
  color:grayText;
}
#u23982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u23982 {
  position:absolute;
  left:196px;
  top:78px;
  width:299px;
  height:50px;
}
#u23983 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u23984 {
  position:absolute;
  left:240px;
  top:25px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23985 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u23986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23986 {
  position:absolute;
  left:590px;
  top:68px;
  width:280px;
  height:60px;
}
#u23987 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
