body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37471-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37471-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37471-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37471-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37471 {
  position:absolute;
  left:788px;
  top:335px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u37472-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472-24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37472 {
  position:absolute;
  left:1280px;
  top:32px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u37473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u37473 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u37474 {
  position:absolute;
  left:2px;
  top:112px;
  width:1276px;
  word-wrap:break-word;
}
