body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37581-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37581-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37581-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37581-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37581 {
  position:absolute;
  left:788px;
  top:335px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u37582-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582-24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37582 {
  position:absolute;
  left:1280px;
  top:32px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u37583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u37583 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u37584 {
  position:absolute;
  left:2px;
  top:112px;
  width:1276px;
  word-wrap:break-word;
}
