body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u32604 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u32605 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32606 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u32607 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:450px;
}
#u32608 {
  position:absolute;
  left:227px;
  top:2516px;
  width:963px;
  height:450px;
}
#u32609 {
  position:absolute;
  left:2px;
  top:217px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32610 {
  position:absolute;
  left:9px;
  top:230px;
  width:1286px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32611 {
  position:absolute;
  left:2px;
  top:72px;
  width:1282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32612 {
  position:absolute;
  left:74px;
  top:247px;
  width:88px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32613 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u32614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32614 {
  position:absolute;
  left:74px;
  top:305px;
  width:60px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32615 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u32614_ann {
  position:absolute;
  left:127px;
  top:301px;
  width:1px;
  height:1px;
}
#u32616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32616 {
  position:absolute;
  left:64px;
  top:341px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32617 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u32618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32618 {
  position:absolute;
  left:443px;
  top:335px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32619 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u32620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32620 {
  position:absolute;
  left:451px;
  top:305px;
  width:63px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32621 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u32622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u32622 {
  position:absolute;
  left:820px;
  top:305px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32623 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u32624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32624 {
  position:absolute;
  left:818px;
  top:333px;
  width:59px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32625 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u32626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32626 {
  position:absolute;
  left:1175px;
  top:336px;
  width:59px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u32627 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u32628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32629 {
  position:absolute;
  left:1171px;
  top:305px;
  width:61px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u32630 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u32631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32631 {
  position:absolute;
  left:19px;
  top:236px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32632 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u32633 {
  position:absolute;
  left:19px;
  top:298px;
  width:1276px;
  height:1px;
}
#u32634 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32636 {
  position:absolute;
  left:12px;
  top:384px;
  width:1265px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32637 {
  position:absolute;
  left:2px;
  top:248px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32636_ann {
  position:absolute;
  left:1270px;
  top:380px;
  width:1px;
  height:1px;
}
#u32638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32639 {
  position:absolute;
  left:68px;
  top:399px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32640 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u32641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u32642 {
  position:absolute;
  left:503px;
  top:398px;
  width:202px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u32642_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u32642.mouseOver {
}
#u32642_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u32642.selected {
}
#u32643 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u32644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32644 {
  position:absolute;
  left:679px;
  top:405px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u32645 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:251px;
}
#u32646 {
  position:absolute;
  left:505px;
  top:433px;
  width:431px;
  height:251px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32647 {
  position:absolute;
  left:2px;
  top:118px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32648 {
  position:absolute;
  left:283px;
  top:397px;
  width:197px;
  height:30px;
}
#u32648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u32648_input:disabled {
  color:grayText;
}
#u32649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:39px;
}
#u32649 {
  position:absolute;
  left:1101px;
  top:398px;
  width:163px;
  height:39px;
}
#u32650 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u32651 {
  position:absolute;
  left:26px;
  top:399px;
  width:40px;
  height:40px;
}
#u32652 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:438px;
}
#u32653 {
  position:absolute;
  left:11px;
  top:457px;
  width:1268px;
  height:438px;
}
#u32654 {
  position:absolute;
  left:2px;
  top:211px;
  width:1264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32655 {
  position:absolute;
  left:184px;
  top:398px;
  width:78px;
  height:30px;
}
#u32655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u32655_input:disabled {
  color:grayText;
}
#u32656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:362px;
}
#u32656 {
  position:absolute;
  left:18px;
  top:449px;
  width:50px;
  height:362px;
}
#u32657 {
  position:absolute;
  left:2px;
  top:173px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u32658 {
  position:absolute;
  left:9px;
  top:20px;
  width:29px;
  height:16px;
}
#u32659 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:129px;
}
#u32661 {
  position:absolute;
  left:9px;
  top:76px;
  width:1280px;
  height:129px;
}
#u32662 {
  position:absolute;
  left:2px;
  top:56px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
}
#u32663 {
  position:absolute;
  left:69px;
  top:103px;
  width:73px;
  height:80px;
}
#u32664 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u32665 {
  position:absolute;
  left:159px;
  top:115px;
  width:401px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u32666 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u32667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u32667 {
  position:absolute;
  left:159px;
  top:148px;
  width:159px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u32668 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u32669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u32669 {
  position:absolute;
  left:610px;
  top:149px;
  width:170px;
  height:150px;
}
#u32670 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
