body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u27053 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u27054 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27055 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u27056 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:450px;
}
#u27057 {
  position:absolute;
  left:227px;
  top:2516px;
  width:963px;
  height:450px;
}
#u27058 {
  position:absolute;
  left:2px;
  top:217px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27059 {
  position:absolute;
  left:9px;
  top:75px;
  width:625px;
  height:294px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27060 {
  position:absolute;
  left:2px;
  top:139px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27061 {
  position:absolute;
  left:74px;
  top:91px;
  width:88px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27062 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u27063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27063 {
  position:absolute;
  left:78px;
  top:140px;
  width:51px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27064 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u27063_ann {
  position:absolute;
  left:122px;
  top:136px;
  width:1px;
  height:1px;
}
#u27065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27065 {
  position:absolute;
  left:511px;
  top:140px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27066 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u27067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27067 {
  position:absolute;
  left:511px;
  top:189px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27068 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u27069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27069 {
  position:absolute;
  left:78px;
  top:189px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27070 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u27071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u27071 {
  position:absolute;
  left:78px;
  top:233px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27072 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u27073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27073 {
  position:absolute;
  left:521px;
  top:233px;
  width:59px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27074 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u27075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27075 {
  position:absolute;
  left:523px;
  top:274px;
  width:59px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27076 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u27077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27078 {
  position:absolute;
  left:79px;
  top:280px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27079 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u27080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27080 {
  position:absolute;
  left:19px;
  top:80px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27081 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27083 {
  position:absolute;
  left:674px;
  top:75px;
  width:600px;
  height:294px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27084 {
  position:absolute;
  left:2px;
  top:139px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27083_ann {
  position:absolute;
  left:1267px;
  top:71px;
  width:1px;
  height:1px;
}
#u27085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27085 {
  position:absolute;
  left:744px;
  top:91px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27086 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u27087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u27087 {
  position:absolute;
  left:695px;
  top:87px;
  width:43px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27088 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27089 {
  position:absolute;
  left:750px;
  top:142px;
  width:83px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27090 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u27089_ann {
  position:absolute;
  left:826px;
  top:138px;
  width:1px;
  height:1px;
}
#u27091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27091 {
  position:absolute;
  left:1129px;
  top:142px;
  width:83px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u27092 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u27093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:2px;
}
#u27093 {
  position:absolute;
  left:19px;
  top:130px;
  width:609px;
  height:1px;
}
#u27094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u27095 {
  position:absolute;
  left:674px;
  top:131px;
  width:600px;
  height:1px;
}
#u27096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27097 {
  position:absolute;
  left:687px;
  top:176px;
  width:574px;
  height:1px;
}
#u27098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27099 {
  position:absolute;
  left:687px;
  top:224px;
  width:574px;
  height:1px;
}
#u27100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27101 {
  position:absolute;
  left:687px;
  top:271px;
  width:574px;
  height:1px;
}
#u27102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27103 {
  position:absolute;
  left:687px;
  top:318px;
  width:574px;
  height:1px;
}
#u27104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27105 {
  position:absolute;
  left:31px;
  top:177px;
  width:574px;
  height:1px;
  text-align:right;
}
#u27106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27107 {
  position:absolute;
  left:31px;
  top:224px;
  width:574px;
  height:1px;
  text-align:right;
}
#u27108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27109 {
  position:absolute;
  left:31px;
  top:272px;
  width:574px;
  height:1px;
  text-align:right;
}
#u27110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u27111 {
  position:absolute;
  left:31px;
  top:316px;
  width:574px;
  height:1px;
  text-align:right;
}
#u27112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27114 {
  position:absolute;
  left:12px;
  top:384px;
  width:1265px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27115 {
  position:absolute;
  left:2px;
  top:248px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27114_ann {
  position:absolute;
  left:1270px;
  top:380px;
  width:1px;
  height:1px;
}
#u27116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27117 {
  position:absolute;
  left:68px;
  top:399px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27118 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u27119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u27120 {
  position:absolute;
  left:503px;
  top:398px;
  width:202px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u27120_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u27120.mouseOver {
}
#u27120_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u27120.selected {
}
#u27121 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u27122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27122 {
  position:absolute;
  left:679px;
  top:405px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u27123 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:251px;
}
#u27124 {
  position:absolute;
  left:505px;
  top:433px;
  width:431px;
  height:251px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27125 {
  position:absolute;
  left:2px;
  top:118px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27126 {
  position:absolute;
  left:283px;
  top:397px;
  width:197px;
  height:30px;
}
#u27126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u27126_input:disabled {
  color:grayText;
}
#u27127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:39px;
}
#u27127 {
  position:absolute;
  left:1101px;
  top:398px;
  width:163px;
  height:39px;
}
#u27128 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27129 {
  position:absolute;
  left:26px;
  top:399px;
  width:40px;
  height:40px;
}
#u27130 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:438px;
}
#u27131 {
  position:absolute;
  left:11px;
  top:457px;
  width:1268px;
  height:438px;
}
#u27132 {
  position:absolute;
  left:2px;
  top:211px;
  width:1264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27133 {
  position:absolute;
  left:184px;
  top:398px;
  width:78px;
  height:30px;
}
#u27133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u27133_input:disabled {
  color:grayText;
}
#u27134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:362px;
}
#u27134 {
  position:absolute;
  left:18px;
  top:449px;
  width:50px;
  height:362px;
}
#u27135 {
  position:absolute;
  left:2px;
  top:173px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u27136 {
  position:absolute;
  left:9px;
  top:20px;
  width:181px;
  height:22px;
  font-size:18px;
}
#u27137 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
